body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
}

.navbar {
  background-color: transparent;
  transition: all 0.3s ease;
}

.navbar.scrolled {
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

section {
  scroll-margin-top: 50px;
}

section .subtitle {
  color: #f2ad3d;
  font-weight: bold;
  text-align: center;
}

section h1 {
  color: #222;
  text-align: center;
}

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.hero .container {
  position: relative;
  z-index: 2;
}

.hero-title {
  font-size: clamp(5rem, 6vw, 5.5rem);
  font-weight: 700;
  line-height: 1.05;
}

.hero-btn {
  padding: 12px 24px;
  font-size: 0.95rem;
  border-radius: 10px;
  transition: all 0.25s ease;
}

.hero .hero-text {
  max-width: 550px;
  margin-top: 40px;
}
.hero-btn:hover {
  transform: translateY(-2px);
}

.hero-btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.15);
}

.btn-light.hero-btn {
  border: 1px solid #dee2e6;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at right, #e89b00, #f9c84a);
  z-index: 1;
}

.hero-img {
  width: 80%;
  animation: float 2s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(0);
  }
}

.about {
  background-color: #f9f9f9;
}

.about .card {
  background: #f9c84a;
  color: #222;
  border: none;
  box-shadow: 0 4px 8px rgba(223, 216, 216, 0.1);
  padding: 40px;
  margin-bottom: 20px;
  border-radius: 8px;
  height: 100%;
}

.about .card-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.services .card {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  height: 100%;
  border: none;
}

.services .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.12);
}
